button {
  outline: none;
  font-size: large;
}

span {
  font-size: smaller;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 120px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

