<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span  aria-hidden="true" class="fa fa-heartbeat" style="font-size: larger;"></span>
      <span style="font-size: large;">&nbsp;W E B - M E D I C I N E</span>
      <button class="ml-5 m-b" mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        <span> Menu</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="admin">
          <span>Admin</span>
        </button>
        <button mat-menu-item routerLink="doctor">
          <span>Doctor</span>
        </button>
        <button mat-menu-item routerLink="patient">
          <span>Patient</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
