p {
  font-weight: bold;
}

button {
  outline: none;
}

mat-header-cell{
  font-size: smaller;
}

mat-cell {
  font-size: smaller;
}


table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  outline: none;
}
