<div [hidden]="submitted">
  <form #postForm="ngForm" (ngSubmit)="create(postForm.value)">
    <div class="container pt-5 row-cols-3">
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Patient ID</mat-label>
        <input matInput type="number" [(ngModel)]="history.patient_id" name="patientId">
      </mat-form-field>
<!--      <mat-form-field appearance="fill" class="col-md-6">-->
<!--        <mat-label>Patient Full Name</mat-label>-->
<!--        <input matInput type="text" required ngModel [(ngModel)]="history.full_name" name="fullName">-->
<!--      </mat-form-field>-->
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Created Time</mat-label>
        <input matInput type="text" required ngModel [(ngModel)]="history.created_time" name="createdTime">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Doctor Name</mat-label>
        <input matInput type="text" required ngModel [(ngModel)]="history.created_by" name="createdBy">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Medical History</mat-label>
        <input matInput type="text" required ngModel [(ngModel)]="history.history" name="history">
      </mat-form-field>
      <button
        [disabled]="!postForm.valid"
        mat-raised-button
        color="primary"
        type="submit"
        class="float-right mr-3">Add
      </button>
    </div>
  </form>
</div>
