<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.javaguides.net" class="navbar-brand">JavaGuides</a></div>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container col-lg-6">
  <h1 class="text-center">Login</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        <div class="form-group">
          <label for="email" id="email">User Name :</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
                 name="username">
        </div>
        <div class="form-group">
          <label for="pwd" id="pwd">Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
                 name="password">
        </div>
        <button (click)=handleLogin() class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>



<!--<div class="col-md-6 offset-md-3 mt-5">-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <label for="username" id="username">Username</label>-->
<!--          <input type="text" formControlName="username" class="form-control"-->
<!--                 [ngClass]="{ 'is-invalid': submitted && formField.username.errors }"/>-->

<!--          <div *ngIf="submitted && formField.username.errors" class="invalid-feedback">-->
<!--            <div *ngIf="formField.username.errors.required">Username is required</div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="password" id="password">Password</label>-->
<!--          <input type="password" formControlName="password" class="form-control"-->
<!--                 [ngClass]="{ 'is-invalid': submitted && formField.password.errors }"/>-->
<!--          <div *ngIf="submitted && formField.password.errors" class="invalid-feedback">-->
<!--            <div *ngIf="formField.password.errors.required">Password is required</div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <button mat-raised-button color="primary" [disabled]="loading">-->
<!--          Login-->
<!--        </button>-->
<!--        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div>-->
<!--  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--    <div class="container row-cols-3">-->

<!--      <mat-form-field appearance="outline" class="col-md-6">-->
<!--        <mat-label>Login</mat-label>-->
<!--        <input matInput type="text"-->
<!--               formControlName="username"-->
<!--               [ngClass]="{'is-invalid': submitted && formField.username.errors}"-->
<!--               *ngIf="submitted && formField.username.errors"-->
<!--               name="login">-->
<!--        <div *ngIf="submitted && formField.username.errors" class="invalid-feedback">-->
<!--          <div *ngIf="formField.username.errors.required">Username is required</div>-->
<!--        </div>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="outline" class="col-md-6">-->
<!--        <mat-label>Password</mat-label>-->
<!--        <input matInput type="password"-->
<!--               formControlName="password"-->
<!--               [ngClass]="{'is-invalid': submitted && formField.password.errors}"-->
<!--               name="password">-->
<!--      </mat-form-field>-->

<!--      <div *ngIf="submitted && formField.password.errors" class="invalid-feedback">-->
<!--        <div *ngIf="formField.password.errors.required">Password is required</div>-->
<!--      </div>-->

<!--      <button-->
<!--        [disabled]="loading"-->
<!--        mat-raised-button-->
<!--        color="primary"-->
<!--        type="submit"-->
<!--        class="float-right mr-3">-->
<!--        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>-->
<!--        Login-->
<!--      </button>-->

<!--      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>-->

<!--    </div>-->
<!--  </form>-->
<!--</div>-->
