<div [hidden]="submitted">
  <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)">
    <div>
      <mat-form-field hidden appearance="legacy" class="col-md-2">
        <mat-label>Doctor ID</mat-label>
        <input matInput type="number" [(ngModel)]="doctor.doctor_id" name="doctorId">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required [(ngModel)]="doctor.first_name" name="firstName">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required [(ngModel)]="doctor.last_name" name="lastName">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Passport Number</mat-label>
        <input matInput type="text" required [(ngModel)]="doctor.passport_number" name="passportNumber">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Profession</mat-label>
        <input matInput type="text" required [(ngModel)]="doctor.profession" name="profession">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Address</mat-label>
        <input matInput type="text" required [(ngModel)]="doctor.address" name="address">
      </mat-form-field>
      <div style="margin-left: 45em">
        <button
          (click)="cancel()"
          mat-raised-button>
          Cancel
        </button>
        <button
          [disabled]="!postForm.valid"
          (click)="cancel()"
          class="ml-3"
          type="submit"
          mat-flat-button
          color="primary">
          Update
        </button>
      </div>
    </div>
  </form>
</div>
