<div [hidden]="submitted">
  <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value)">
    <div>
      <mat-form-field hidden appearance="legacy" class="col-md-2">
        <mat-label>Patient ID</mat-label>
        <input matInput type="number" [(ngModel)]="patient.patient_id" name="doctorId">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required [(ngModel)]="patient.first_name" name="firstName">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required [(ngModel)]="patient.last_name" name="lastName">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Father Name</mat-label>
        <input matInput type="text" required [(ngModel)]="patient.father_name" name="fatherName">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Address</mat-label>
        <input matInput type="text" required [(ngModel)]="patient.address" name="address">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Birth Date</mat-label>
        <input matInput type="text" required [(ngModel)]="patient.birth_date" name="birthDate">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="col-md-2">
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" required [(ngModel)]="patient.phone_number" name="phoneNumber">
      </mat-form-field>
      <div style="margin-left: 45em">
        <button
          (click)="cancel()"
          mat-raised-button>
          Cancel
        </button>
        <button
          [disabled]="!postForm.valid"
          class="ml-3"
          mat-flat-button
          color="primary"
          type="submit">
          Update
        </button>
      </div>
    </div>
  </form>
</div>
