<!--<div style="height: 90%;">-->
<!--  <mat-toolbar color="primary">-->
<!--    <mat-toolbar-row fxLayoutGap="10px">-->
<!--      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxShow.gt-sm>-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
<!--      <span>N E R S</span>-->
<!--      <span class="menu-spacer"></span>-->
<!--    </mat-toolbar-row>-->
<!--  </mat-toolbar>-->

<!--  <mat-sidenav-container fxFlexFill>-->
<!--    <mat-sidenav #sidenav>-->
<!--      <mat-nav-list>-->
<!--        <a routerLink="/employees" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>Employees</a>-->
<!--      </mat-nav-list>-->
<!--      <mat-nav-list>-->
<!--        <a routerLink="/archives" routerLinkActive="active" (click)="sidenav.toggle()" mat-list-item>Archives</a>-->
<!--      </mat-nav-list>-->
<!--    </mat-sidenav>-->

<!--    <mat-sidenav-content fxFlexFill>-->
<!--      <router-outlet></router-outlet>-->
<!--    </mat-sidenav-content>-->

<!--  </mat-sidenav-container>-->
<!--</div>-->

<app-navigation></app-navigation>
