table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  outline: none;
}

th {
  outline: none;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

mat-paginator {
  outline: none;
}

.mat-column-select {
  overflow: initial;
}

i.edit {
  color: #3f51b5;
  cursor: pointer;
  margin-left: 10px;
}

i.delete {
  color: #f44336;
  cursor: pointer;
  margin-left: 10px;
}

