<div [hidden]="submitted" *ngIf="employee">
  <form #postForm="ngForm">
    <div class="container pt-5 row-cols-3">
      <mat-form-field hidden appearance="fill" class="col-md-6">
        <mat-label>Employee Id</mat-label>
        <input matInput type="number" [(ngModel)]="employee.employeeId" name="employeeId">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required [(ngModel)]="employee.firstName" name="firstName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required [(ngModel)]="employee.lastName" name="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Email Name</mat-label>
        <input matInput type="text" required [(ngModel)]="employee.emailId" name="emailId">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Salary</mat-label>
        <input matInput type="number" required ngModel [(ngModel)]="employee.salary" name="salary">
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!postForm.valid"
        (click)="updateEmployee()"
        class="float-right mr-3">
        Submit
      </button>
    </div>
  </form>
</div>
