<!--<form id="authForm">-->

<!--  <div class="wrap-input100 validate-input" data-validate="Valid username is required: username">-->
<!--    <input class="input100" type="text" name="username">-->
<!--  </div>-->

<!--  <div class="validate-input" data-validate="Password is required">-->
<!--    <input type="password" name="user_password">-->
<!--  </div>-->

<!--  <button type="submit">-->
<!--    Login-->
<!--  </button>-->
<!--</form>-->

<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    $('#authForm').on('submit', function (event) {-->
<!--      event.preventDefault();-->
<!--      console.log($('#authForm').serialize());-->
<!--      $.ajax({-->
<!--        url: '/auth',-->
<!--        data: $('#authForm').serialize(),-->
<!--        method: 'post',-->
<!--        dataType: 'json',-->
<!--        success: function (res) {-->
<!--          if (res.success) {-->
<!--            document.location = "/admin";-->
<!--          } else-->
<!--            alert(res.msg);-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--  });-->
<!--</script>-->
